<table>
    <tr>
        <th>Imie</th>
        <th>Nazwisko</th>
        <th>Wiek</th>
        <th>Plec</th>
        <th>Operacje</th>
    </tr>
    <tr *ngFor="let element of lista">
        <td>{{element.imie}}</td>
        <td>{{element.nazwisko}}</td>
        <td>{{element.wiek}}</td>
        <td>{{element.plec}}</td>
        <td>
            <a [routerLink]="['/usun', element.id]">usuń</a> 
            <a [routerLink]="['/edytuj', element.id]">edytuj</a>
        </td>
    </tr>
    
</table>
